.bg-glass {
  /* From https://css.glass */
  background: rgba(140, 147, 168, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
